#app1 .links {
    padding: 10px;
    font-size: 20px;
}

/* ############################# */

#app2 .title {
    padding:30px;
    text-align: center;
}

#app2 .register {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app2 .register input {
    margin-bottom: 10px;
    border-radius: 5px;
}

#app2 .register .btn-register {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

/* ############################# */

#app3 .title {
    padding:30px;
    text-align: center;
}

#app3 .connect {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app3 .connect input {
    margin-bottom: 10px;
    border-radius: 5px;
}

#app3 .connect .btn-connect {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
